<div class="text-center login-branch">
  To create a new post you have to
  <%= link_to 'login',
              login_path,
              class: 'btn btn-primary login-button login-button-branch' %>
</div>
