<button class="nav navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar-collapsible-content" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbar-collapsible-content">
  <ul class="nav navbar-nav ml-auto">
    <%= render login_and_profile_links_generator %>
  </ul>
</div>
